/* commentaires */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Times New Roman', Times, serif ;
    background: white;
    
    
    

}

main {
    background: white;
    width: 85%;
    height: 200px;
    margin: auto;
    padding: 0;
    display: flex;

}

.logo {
    
    
    display: flex;
    margin: auto;
    padding: 0;
    flex-direction: row;       
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
}

.headbloc {
    background: white;
    color: #111b3b;
    width: 80%;
    margin: auto;
    padding: 0;
    height: auto;    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    
    
}


#blocun {
    
    background: white;
    color: #111b3b;
    top: 50%;
    left: 20px;
    width: 25%;
    margin: auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
      

}

#blocdeux {
    background: white;
    color: #111b3b;
    font-size: 1.8em;
    font-weight: bold;
    margin: auto;
    padding: 0;
    width: 25%;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bloctrois {
    background: white;
    color: #111b3b;
    font-size: 1.8em;
    font-weight: bold;
    padding: 0;
    margin: auto;
    width: 25%;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

ul {
    background: rgb(170, 0, 71);
    height: 70px;
   
    width: auto;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;


}

li {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: x-large;
    margin: 0;
    width: 190px;
    
}

.bloquesectun {
    background: white;
    margin-top: 50px;
    display: flex;
    

}

.sectionune {
    background: white;
    color: #111b3b;
    width: 50%;
    margin-left: 10%;
    
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#sectionunhun {
    background: white;   
    color: #111b3b;
    margin-bottom: 10px;
}

#paragrapheun {
    background: white;
    color: #111b3b;
    
    padding: 0px 0px 10px 0px;

}

#logohtmlcss {
    
    display: flex;
    justify-content: space-around;  
    margin: auto; 
}



footer {
    background: #111b3b;
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    
}

#liens {
    color: white;
    font-weight: bold;
}

#contacts {
    color: white;
    font-weight: bold;
}

#suiveznous {
    color: white;
    font-weight: bold;
}